.home-warp{
    height: calc(100vh - 221px );
    text-align: center;
    font-size: 20px;
    margin: 20px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}