.login{
  height: 40px;
  border-bottom: 1px solid #cccccc45;
  line-height: 40px;
  display: flex;
  justify-content: flex-end;
  background: #fff;
}
.login a{
  margin: 0 20px;
}
.header-crumbs{
  text-align: center;
  position: relative;
  font-size: 16px;
}
.header-right-content{
  display: flex;
  justify-content: flex-end;
}
.header{
  background: #fff;
  padding: 0 20px !important;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.header-crumbs:after{
  content: '';
  border-top: 11px solid #fff;
  border-left: 20px solid #ccc0;
  border-right: 20px solid #ccc0;
  position: absolute;
  left: -3px;
  top: 29px;
}
.header-weather{
  margin-left: 20px;
}