@import '~antd/dist/antd.css';


.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.ant-layout-header{
  background: #1d7ef2;
}
.headerCustomer{
  display: flex;
  justify-content: flex-end;
  color: #fff;
}
.headerCustomer span{
  margin: 0 10px;
}
.nav-left{
  display: inline-block;
  width: 220px;
}
.content-right{
  display: inline-block;
  width: calc(100vw - 220px);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
